<!DOCTYPE html>
<html>
  <head>
        <meta charset="UTF-8">
        <title>{% block title %}Connexion{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/flatly/bootstrap.min.css">
        
    </head>
<div>
{% block body %}

<h2 class="text-center text-dark mt-5">Inscription Magneto </h2>
<div class="text-center mb-5 text-dark">* Champs obligatoire</div>
<div class="container">


{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{form_start(form)}}
{{form_row(form.email, {'label':'Email*', 'attr':{'placeholder':'email'}})}}
{{form_row(form.username, {'label':'Username*', 'attr':{'placeholder':'Username'}})}}
{{form_row(form.password, {'label':'Password*', 'attr':{'placeholder':'password'}})}}
{{form_row(form.confirm_password, {'label':'Confirm password*', 'attr':{'placeholder':'confirm password'}})}}

<button type="submit" class="btn btn-success" > Inscription </button>
</div>

{{form_end(form)}}

{% endblock %}
